<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.serene.platform.system.mapper.UserMapper">

    <select id="getPermission" resultType="com.serene.platform.system.entity.PermissionItem">
        select distinct p.*
        from sys_permission_item p
         left join sys_group_permission_item rp on p.id = rp.PERMISSION_ITEM_ID
         left join sys_user_group r on r.id = rp.group_ID
         left join sys_group_user ru on ru.group_id = r.id
         left join sys_user u on ru.user_id = u.id
        where u.id = #{id}
          and r.status = 'NORMAL'
          and p.status = 'NORMAL'
          and u.delete_flag = 'NO'
          and r.delete_flag = 'NO'
          and u.delete_flag = 'NO'
        order by p.order_no
    </select>

    <select id="checkPermission" resultType="java.lang.Integer">
        select count(1) as count
        from sys_permission_item p
            left join sys_group_permission_item rp
        on p.id=rp.PERMISSION_ITEM_ID
            left join sys_user_group r on r.id=rp.group_ID
            left join sys_group_user ru on ru.group_id=r.id
            left join sys_user u on ru.user_id=u.id
        where u.id=#{id}
          and r.status='NORMAL'
          and p.status='NORMAL'
          and p.permission_code=#{permissionCode}
    </select>
</mapper>
